/* eslint-disable */
import React from 'react'

import styles from './{{pascalCase name}}.css'

class {{pascalCase name}} extends React.Component {

  render() {
    const {
        sampleModuleFuntion
    } = this.props


    return (
        <div>
            {{pascalCase name}} Component<br />
            <button onClick={sampleModuleFuntion}>Test Redux Funtionality of  {{pascalCase name}}</button>
        </div>
    )
  }
}


export default {{pascalCase name}}
